class master_sequencer extends uvm_sequencer #(axi_transaction);

  `uvm_component_utils(master_sequencer)

  //---------------------------------------
  // Constructor
  //---------------------------------------
  function new(string name = "master_sequencer",
               uvm_component parent);
    super.new(name, parent);
  endfunction

endclass